In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv("x_y_train.csv");
test = pd.read_csv("x_test.csv");

#data = np.genfromtxt('x_y_train.csv')
#data.head(5)

In [3]:
x = test['text']
x_test = np.array(x)
x_test

array(["@AmericanAir In car gng to DFW. Pulled over 1hr ago - very icy roads. On-hold with AA since 1hr. Can't reach arpt for AA2450. Wat 2 do?",
       '@AmericanAir after all, the plane didn‚Äôt land in identical or worse) conditions at GRK according to METARs.',
       "@SouthwestAir can't believe how many paying customers you left high and dry with no reason for flight Cancelled Flightlations Monday out of BDL! Wow.",
       ...,
       'Nice RT @VirginAmerica: The man of steel might be faster, but we have WiFi ‚Äì just saying. #ScienceBehindTheExperience http://t.co/FGRbpAZSiX',
       '@AmericanAir Aww Thanks AA..DFW was on GMA up here this AM..so i understand ..Btw A.A is my Airline when im able to trv..Love you guys.:)',
       '@united the lounge tells us they have no pillows for my grandma as one of the ladies opens the closet and I see 2 right there. #unitedlies'],
      dtype=object)

In [4]:
del data['tweet_id']
del data['name']

In [5]:
del data['airline_sentiment_gold']
del data['negativereason_gold']

In [6]:
data.head(5)

,airline_sentiment,airline,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,negative,Southwest,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,positive,Southwest,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,positive,United,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,negative,Southwest,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,negative,United,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)

In [7]:
del data['tweet_coord']
del data['tweet_created']
del data['user_timezone']
del data['tweet_location']

In [8]:
data.head(5)

,airline_sentiment,airline,retweet_count,text
0,negative,Southwest,0,"@SouthwestAir I am scheduled for the morning, ..."
1,positive,Southwest,0,@SouthwestAir seeing your workers time in and ...
2,positive,United,0,@united Flew ORD to Miami and back and had gr...
3,negative,Southwest,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥
4,negative,United,0,@united so our flight into ORD was delayed bec...

In [9]:
y_train = data['airline_sentiment']
#y_train

In [10]:
del  data['airline_sentiment']

In [11]:
text = data['text']

In [12]:
text = np.array(text)

In [13]:
#text = text.reshape(-1,1)

In [14]:
from nltk.corpus import stopwords
import string
stop = set(stopwords.words('english'))
punctuations = list(string.punctuation)
stop.update(punctuations)
stop,string.punctuation

({'!',
  '"',
  '#',
  '$',
  '%',
  '&',
  "'",
  '(',
  ')',
  '*',
  '+',
  ',',
  '-',
  '.',
  '/',
  ':',
  ';',
  '<',
  '=',
  '>',
  '?',
  '@',
  '[',
  '\\',
  ']',
  '^',
  '_',
  '`',
  'a',
  'about',
  'above',
  'after',
  'again',
  'against',
  'ain',
  'all',
  'am',
  'an',
  'and',
  'any',
  'are',
  'aren',
  "aren't",
  'as',
  'at',
  'be',
  'because',
  'been',
  'before',
  'being',
  'below',
  'between',
  'both',
  'but',
  'by',
  'can',
  'couldn',
  "couldn't",
  'd',
  'did',
  'didn',
  "didn't",
  'do',
  'does',
  'doesn',
  "doesn't",
  'doing',
  'don',
  "don't",
  'down',
  'during',
  'each',
  'few',
  'for',
  'from',
  'further',
  'had',
  'hadn',
  "hadn't",
  'has',
  'hasn',
  "hasn't",
  'have',
  'haven',
  "haven't",
  'having',
  'he',
  'her',
  'here',
  'hers',
  'herself',
  'him',
  'himself',
  'his',
  'how',
  'i',
  'if',
  'in',
  'into',
  'is',
  'isn',
  "isn't",
  'it',
  "it's",
  'its',
  'itself',
  'just',
  'll',
  'm',
  'ma',
  'me',
  'mightn',
  "mightn't",
  'more',
  'most',
  'mustn',
  "mustn't",
  'my',
  'myself',
  'needn',
  "needn't",
  'no',
  'nor',
  'not',
  'now',
  'o',
  'of',
  'off',
  'on',
  'once',
  'only',
  'or',
  'other',
  'our',
  'ours',
  'ourselves',
  'out',
  'over',
  'own',
  're',
  's',
  'same',
  'shan',
  "shan't",
  'she',
  "she's",
  'should',
  "should've",
  'shouldn',
  "shouldn't",
  'so',
  'some',
  'such',
  't',
  'than',
  'that',
  "that'll",
  'the',
  'their',
  'theirs',
  'them',
  'themselves',
  'then',
  'there',
  'these',
  'they',
  'this',
  'those',
  'through',
  'to',
  'too',
  'under',
  'until',
  'up',
  've',
  'very',
  'was',
  'wasn',
  "wasn't",
  'we',
  'were',
  'weren',
  "weren't",
  'what',
  'when',
  'where',
  'which',
  'while',
  'who',
  'whom',
  'why',
  'will',
  'with',
  'won',
  "won't",
  'wouldn',
  "wouldn't",
  'y',
  'you',
  "you'd",
  "you'll",
  "you're",
  "you've",
  'your',
  'yours',
  'yourself',
  'yourselves',
  '{',
  '|',
  '}',
  '~'},
 '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~')

In [15]:

document = []
for i in text:
    #print(i)
    p=""
    for c in range(len(i)):
        if(i[c] in string.punctuation):
            p +=" "
        else:
            p += i[c] 
    #s = p.split(" ")
    document.append(p.lower())
document[0]

' southwestair i am scheduled for the morning  2 days after the fact  yes  not sure why my evening flight was the only one cancelled flightled'

In [16]:
document[2]

' united flew ord to miami and back and  had great crew  service on both legs  thanks'

In [17]:
'@' in '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

True

In [18]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [19]:
from nltk.corpus import wordnet
def get_sample_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    if tag.startswith('V'):
        return wordnet.VERB
    if tag.startswith('N'):
        return wordnet.NOUN
    if tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [20]:
from nltk import pos_tag
w = "better"
pos = pos_tag(w)
# getting pos for each character as -> it expects an array so what we do 
pos = pos_tag([w])
# now all sets
pos

[('better', 'RBR')]

In [21]:
# lets get stop words and punctuations
from nltk.corpus import stopwords
import string
stop = set(stopwords.words('english'))
punctuations = list(string.punctuation)
stop.update(punctuations)
stop,string.punctuation

# we got stop words and punctions in stop

({'!',
  '"',
  '#',
  '$',
  '%',
  '&',
  "'",
  '(',
  ')',
  '*',
  '+',
  ',',
  '-',
  '.',
  '/',
  ':',
  ';',
  '<',
  '=',
  '>',
  '?',
  '@',
  '[',
  '\\',
  ']',
  '^',
  '_',
  '`',
  'a',
  'about',
  'above',
  'after',
  'again',
  'against',
  'ain',
  'all',
  'am',
  'an',
  'and',
  'any',
  'are',
  'aren',
  "aren't",
  'as',
  'at',
  'be',
  'because',
  'been',
  'before',
  'being',
  'below',
  'between',
  'both',
  'but',
  'by',
  'can',
  'couldn',
  "couldn't",
  'd',
  'did',
  'didn',
  "didn't",
  'do',
  'does',
  'doesn',
  "doesn't",
  'doing',
  'don',
  "don't",
  'down',
  'during',
  'each',
  'few',
  'for',
  'from',
  'further',
  'had',
  'hadn',
  "hadn't",
  'has',
  'hasn',
  "hasn't",
  'have',
  'haven',
  "haven't",
  'having',
  'he',
  'her',
  'here',
  'hers',
  'herself',
  'him',
  'himself',
  'his',
  'how',
  'i',
  'if',
  'in',
  'into',
  'is',
  'isn',
  "isn't",
  'it',
  "it's",
  'its',
  'itself',
  'just',
  'll',
  'm',
  'ma',
  'me',
  'mightn',
  "mightn't",
  'more',
  'most',
  'mustn',
  "mustn't",
  'my',
  'myself',
  'needn',
  "needn't",
  'no',
  'nor',
  'not',
  'now',
  'o',
  'of',
  'off',
  'on',
  'once',
  'only',
  'or',
  'other',
  'our',
  'ours',
  'ourselves',
  'out',
  'over',
  'own',
  're',
  's',
  'same',
  'shan',
  "shan't",
  'she',
  "she's",
  'should',
  "should've",
  'shouldn',
  "shouldn't",
  'so',
  'some',
  'such',
  't',
  'than',
  'that',
  "that'll",
  'the',
  'their',
  'theirs',
  'them',
  'themselves',
  'then',
  'there',
  'these',
  'they',
  'this',
  'those',
  'through',
  'to',
  'too',
  'under',
  'until',
  'up',
  've',
  'very',
  'was',
  'wasn',
  "wasn't",
  'we',
  'were',
  'weren',
  "weren't",
  'what',
  'when',
  'where',
  'which',
  'while',
  'who',
  'whom',
  'why',
  'will',
  'with',
  'won',
  "won't",
  'wouldn',
  "wouldn't",
  'y',
  'you',
  "you'd",
  "you'll",
  "you're",
  "you've",
  'your',
  'yours',
  'yourself',
  'yourselves',
  '{',
  '|',
  '}',
  '~'},
 '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~')

In [22]:
def clean_review(words):
    output_words=[]
    for w in words :  
        if w == " ":
            continue
        if w.lower() not in stop:
            pos = pos_tag([w])
            clean_word = lemmatizer.lemmatize(w,pos=get_sample_pos(pos[0][1]))
            output_words.append(clean_word.lower())
    return output_words

In [23]:
#document = [clean_review(d) for d in document ]

#clean_review(document[2])
#document[0]

In [24]:
for w in document[0]:
    print(w)

s
o
u
t
h
w
e
s
t
a
i
r

i

a
m

s
c
h
e
d
u
l
e
d

f
o
r

t
h
e

m
o
r
n
i
n
g


2

d
a
y
s

a
f
t
e
r

t
h
e

f
a
c
t


y
e
s


n
o
t

s
u
r
e

w
h
y

m
y

e
v
e
n
i
n
g

f
l
i
g
h
t

w
a
s

t
h
e

o
n
l
y

o
n
e

c
a
n
c
e
l
l
e
d

f
l
i
g
h
t
l
e
d

In [25]:
for d in document:
    for w in d:
        print(w)
    break;

s
o
u
t
h
w
e
s
t
a
i
r

i

a
m

s
c
h
e
d
u
l
e
d

f
o
r

t
h
e

m
o
r
n
i
n
g


2

d
a
y
s

a
f
t
e
r

t
h
e

f
a
c
t


y
e
s


n
o
t

s
u
r
e

w
h
y

m
y

e
v
e
n
i
n
g

f
l
i
g
h
t

w
a
s

t
h
e

o
n
l
y

o
n
e

c
a
n
c
e
l
l
e
d

f
l
i
g
h
t
l
e
d

In [26]:
#re.split(si,document[0])

In [27]:
document[2]

' united flew ord to miami and back and  had great crew  service on both legs  thanks'

In [28]:

test = []
for i in x_test:
    #print(i)
    p=""
    for c in range(len(i)):
        if(i[c] in string.punctuation):
            p +=" "
        else:
            p += i[c] 
    #s = p.split(" ")
    test.append(p.lower())
test[0]

' americanair in car gng to dfw  pulled over 1hr ago   very icy roads  on hold with aa since 1hr  can t reach arpt for aa2450  wat 2 do '

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

In [30]:
count_vec = CountVectorizer(max_features=130)#,min_df=0.1, max_df=0.7)
x_train_features = count_vec.fit_transform(document)
x_train_features

<10980x130 sparse matrix of type '<class 'numpy.int64'>'
	with 96527 stored elements in Compressed Sparse Row format>

In [31]:
x_test_features =  count_vec.transform(test)

In [32]:
from sklearn.svm import SVC

In [33]:
svc = SVC()
svc.fit(x_train_features.todense(),y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [34]:
svc.score(x_train_features.todense(),y_train)

0.7344262295081967

In [35]:
y_test=svc.predict(x_test_features.todense())
y_test.shape

(3660,)

In [36]:
np.savetxt("prediction1.csv",y_test,delimiter=',',fmt="%s")

In [41]:
count_vec = CountVectorizer(max_features=10000)#,min_df=0.1, max_df=0.7)
x_train_features = count_vec.fit_transform(document)
x_test_features =  count_vec.transform(test)
x_train_features

<10980x10000 sparse matrix of type '<class 'numpy.int64'>'
	with 172885 stored elements in Compressed Sparse Row format>

In [42]:
from sklearn.naive_bayes import MultinomialNB
multi = MultinomialNB()
multi.fit(x_train_features,y_train)
print(multi.score(x_train_features,y_train))

0.8510018214936248

In [43]:
y_test=multi.predict(x_test_features.todense())
y_test.shape

(3660,)

In [44]:
np.savetxt("prediction1.csv",y_test,delimiter=',',fmt="%s")